body {
    background-color: rgb(241, 241, 241);
}

.navbar {
    background-color: rgb(250, 250, 250);
    font-family: Vegur, 'PT Sans', Verdana, sans-serif;
    padding: 10px 10%;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2d2d2;
}

#logo {
    display: inline-block;
    margin-top: 7px;
    color: #757575;
}

#sidebarCollapse {
    color: #757575;
    background-color: rgb(250, 250, 250);
    margin: 0 0;
}

#sidebarCollapse:hover {
    color: #000000;
    background: rgb(241, 241, 241);
    outline: none;
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    margin-top: 80px;
    background: #fffdfd;
    color: rgb(0, 0, 0);
    transition: all 0.3s;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #d2d2d2;
}

@media only screen and (max-width: 627px) {
    #sidebar {
        margin-top: 115px;
    }
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    color: #695f5f;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #d2d2d2;
    padding: 15px;
}

#sidebar ul p {
    padding: 10px;
    font-size: 1em;
    display: block;
}

#sidebar ul li a {
    padding: 10px 10px 10px 20px;
    font-size: 1.1em;
    display: block;
    color: #5a5a5a;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #202020;
    background: #F1F1F1;
    text-decoration: none;
}

#sidebar_a:hover {
    color: #161616;
    background: #adadad;
    text-decoration: none;
}

#content {
    width: 100%;
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    margin-top: 70px;
}

.nameProducts {
    height: 2rem;
}

.disabledPrice {
    color: #979797;
    margin-top: 15px;
    text-decoration: line-through;
}

.hideElement {
    display: none;
}